<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join Group</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa; 
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/profile">Musifynder</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/create_group" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Groups
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/create_group">Add Group</a></li>
                        <li><a class="dropdown-item" href="/join_group">Join Group</a></li>
                        <li><a class="dropdown-item" href="/delete_group">Delete Group</a></li>
                    </ul>
                </li>
    
                <li class="nav-item">
                    <a class="nav-link" href="/top-tracks">Your Top Tracks</a>
                </li>
    
                <li class="nav-item">
                    <a class="nav-link" href="/group-top-songs">Your Group's Top Tracks</a>
                </li>
    
                <li class="nav-item">
                    <a class="nav-link" href="/groups_scores">Group Scores</a>
                </li>
    
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1 class="my-4">Join a Group:</h1>
        <form action="/join_group" method="POST">
            <div class="mb-3">
                <label for="group_id" class="form-label">Select Group:</label>
                <select id="group_id" name="group_id" class="form-select">
                    {% for group in groups %}
                        <option value="{{ group.id }}">{{ group.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-info">Join Group</button>
        </form>
        <a href="/profile" class="btn btn-secondary mt-3">Back to profile</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>